/* App.js */
.App{
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
  scrollbar-width: thin;
  transition: .3s;
}
div{
  scrollbar-width: thin;
}

body{
  background-color: rgb(51, 51, 51);
}

/* welcome.js */
.navbar-brand img{
  width: 30px;
  height: 30px;
}

.navbar-brand span{
  vertical-align: middle;
}
.HeaderLinks{
  display: flex;
  align-items: center;
  gap: 50px;
}

.HeaderLinks a{
  transition: .3s;
  padding: 3px 8px;
}
.HeaderLinks a:hover{
  border-radius: 10px;
  background-color: rgb(223, 223, 223);
}
.prosList header{
  width: 80%;
}
.iconWrapper{
  border-radius: 10px;
  border: 1px solid rgb(203, 203, 203);
  padding: 8px;
  transition: .2s;
  cursor: pointer;
}

@keyframes fade {
  0%{
    opacity: 0;
  }
  50%{
    opacity: .5;
  }
  100%{
    opacity: 1;
  }
}
.prosText{
  animation: fade 1s linear;
}

.social-media:hover{
  transition: .2s;
  filter: drop-shadow(2px 2px 2px rgb(209, 209, 209));
}


/* Category.js */

.catColor{
  display: inline-block;
  width: 20px;
  height: 20px;
  outline: 2px solid rgb(131, 131, 131);
  outline-offset: 2px;
  border-radius: 50%;
}

#categStyle {
  cursor: pointer ;
  display:flex ;
  gap: 10px;
  align-items:center ;
  padding:5px 10px;
  text-align:center;
  border-radius: 30px;
  box-shadow: 1px 1px 2px rgba(120, 119, 119, 0.598);
  transition: .3s;
}

#categStyle:hover {
  background-color: rgba(243, 243, 243, 0.761);
}

#categStyle textarea:focus{
  outline: none;
}

/* AddTask.js */
.addTaskForm{
  animation: fade .1s linear;
  position: absolute;
  top: 45%;
  right: 8%;
  z-index: 10;
}

/* Tasks.js */

.actionButtons{
  display: flex;
  align-items: center;
  gap: 10px;
}

.AddTaskIcon{
  bottom: 10%;
  right: 7%;
}





/* clerk */
.cl-internal-1j7ahlv{
  width: 50px;
  height: 50px;
}


/* loading logo */

.loader {
  height: 4px;
  width: 130px;
  --c:no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c),var(--c),#d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}

.loader1 {
  width: 120px;
  height: 20px;
  border-radius: 5px;
  background: 
    linear-gradient(90deg,rgba(88, 88, 88, 0.067) 33%,rgba(106, 106, 106, 0.333) 50%,#0001 66%)
    #f2f2f2;
  background-size:300% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0% {background-position: right}
}