/* App.js */
.App{
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}


/* welcome.js */
.navbar-brand img{
  width: 30px;
  height: 30px;
}

.navbar-brand span{
  vertical-align: middle;
}
.HeaderLinks{
  display: flex;
  align-items: center;
  gap: 50px;
}

.HeaderLinks a{
  transition: .3s;
  padding: 3px 8px;
}
.HeaderLinks a:hover{
  border-radius: 10px;
  background-color: rgb(223, 223, 223);
}
.prosList header{
  width: 80%;
}
.iconWrapper{
  border-radius: 10px;
  border: 1px solid rgb(203, 203, 203);
  padding: 8px;
  transition: .2s;
  cursor: pointer;
}


@keyframes fade {
  0%{
    opacity: 0;
  }
  50%{
    opacity: .5;
  }
  100%{
    opacity: 1;
  }
}
.prosText{
  animation: fade 1s linear;
}

.social-media:hover{
  transition: .2s;
  filter: drop-shadow(2px 2px 2px rgb(209, 209, 209));
}


/* Category.js */

.catColor{
  display: inline-block;
  width: 20px;
  height: 20px;
  outline: 1px solid;
  outline-offset: 2px;
  border-radius: 50%;
}

.AddCategForm{
  animation: fade .5s linear;
}




/* clerk */
.cl-internal-1j7ahlv{
  width: 50px;
  height: 50px;
}


/* loading logo */

.loader {
  width: 30px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

.loader1 {
  width: 120px;
  height: 20px;
  border-radius: 5px;
  background: 
    linear-gradient(90deg,rgba(88, 88, 88, 0.067) 33%,rgba(106, 106, 106, 0.333) 50%,#0001 66%)
    #f2f2f2;
  background-size:300% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0% {background-position: right}
}